[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-applehelp = "*"
readthedocs-sphinx-search = "*"
readthedocs-sphinx-ext = "*"
mkdocs = "*"
markdown = "*"
jinja2 = "*"
requests = "2.33.1"

[dev-packages]

[requires]
python_version = "3.13.9"
python_full_version = "3.13.9"
