[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
readthedocs-sphinx-ext = "*"
sphinx-autobuild = "*"
sphinx = "*"
docutils = "*"
sphinx-rtd-theme = "*"

[dev-packages]

[requires]
python_version = "3.11"
