alabaster
appdirs
attrs
Babel
cattrs
certifi
charset-normalizer
click
colorama
commonmark
distlib
docutils
esbonio
filelock
ghp-import
idna
imagesize
Jinja2
livereload
lsprotocol
Markdown
MarkupSafe
mergedeep
mkdocs
mock
packaging
pip-review
platformdirs
pygls
Pygments
pyspellchecker
python-dateutil
pytz
PyYAML
pyyaml_env_tag
readthedocs-build
readthedocs-sphinx-ext
readthedocs-sphinx-search
recommonmark
requests
six
snowballstemmer
Sphinx
sphinx-autobuild
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tornado
typeguard
urllib3
virtualenv
watchdog
pipenv
